[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
autopep8 = "*"
dj-database-url = "*"
django = "*"
gunicorn = "*"
pycodestyle = "*"
python-decouple = "*"
pytz = "*"
sqlparse = "*"
toml = "*"
unipath = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
