{% extends 'layouts/base.html' %}

{% block title %} Icons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="row">
    <div class="col-lg-5 col-6 text-right" style="margin-left: -40px;">
      <a href="/forms.html" class="btn btn-sm btn-neutral">Course Form</a>
      <a href="/instructor-forms.html" class="btn btn-sm btn-neutral">Instructor Form</a>
      <a href="/campus-forms.html" class="btn btn-sm btn-neutral">Campus Form</a>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Campus Forms</h3>
        </div>
        <div class="card-body">
          {% for data in campusformdata %}
          <div class="formdata"
            style="width: 500px; display:flex; flex-direction: column; background: rgb(240, 240, 240); margin-top: 10px; border-radius: 10px;">
            <div class="div" style="padding: 3px 10px; ">
              <h4>Preferred Building: <span style="font-weight: 300;">{{data.preferred_building}}</span></h4>
            </div>
            <div class="div" style="padding: 3px 10px; ">
              <h4>Facility Rating: <span style="font-weight: 300;">{{data.campus_facilities}}</span></h4>
            </div>
            <div class="div" style="padding: 3px 10px; ">
              <h4>Cleanliness: <span style="font-weight: 300;">{{data.cleanliness_maintanance}}</span></h4>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}