{% extends 'layouts/base.html' %}

{% block title %} Icons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="row">
    <div class="col-lg-5 col-6 text-right" style="margin-left: -40px;">
      <a href="/forms.html" class="btn btn-sm btn-neutral">Course Form</a>
      <a href="/instructor-forms.html" class="btn btn-sm btn-neutral">Instructor Form</a>
      <a href="/campus-forms.html" class="btn btn-sm btn-neutral">Campus Form</a>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Instructor Forms</h3>
        </div>
        <div class="card-body">
          {% for data in instructorformdata %}
          <div class="formdata bg-light" 
            style=" color:white; width: 500px; margin-top: 10px; border-radius: 10px;">
            <div style=" display:flex; justify-content: center;">
              <div class="div" style="padding: 3px 10px; ">
                <h4><span style="font-weight: 600;">{{data.instructor_name}}</span></h4>
              </div>
            </div>
            <div class="form-info" style="width: 500px; display:flex; flex-direction: row;">
              <div class="col-lg-6">
                <div class="div" style="padding: 3px 10px; ">
                  <h4>Instructor Rating: <span style="font-weight: 300;">{{data.rating_instructor}}</span></h4>
                </div>
                <div class="div" style="padding: 3px 10px; ">
                  <h4>Instructor Rating: <span style="font-weight: 300;">{{data.rating_instructor}}</span></h4>
                </div>
                <div class="div" style="padding: 3px 10px; ">
                  <h4>Teaching Rating: <span style="font-weight: 300;">{{data.teachings}}</span></h4>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="div" style="padding: 3px 10px; ">
                  <h4>Expectations Rating: <span style="font-weight: 300;">{{data.expectations}}</span></h4>
                </div>
                <div class="div" style="padding: 3px 10px; ">
                  <h4>Eavluation Rating: <span style="font-weight: 300;">{{data.evaluation}}</span></h4>
                </div>
                <div class="div" style="padding: 3px 10px; ">
                  <h4>Suggestions: <span style="font-weight: 300;">{{data.suggestion}}</span></h4>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}