{% extends 'Authentication/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container-fluid" style="height: 100vh; display: flex; align-items: center; justify-content: center; background: linear-gradient(to bottom, #051094, #9393C1);">>
    <div class="container mt--8 pb-5" style="margin-top: 30px;">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5" style="background-color: rgb(155, 155, 215); color: white;" >
                    <!-- <div class="text-center text-muted mb-4"> -->
                        <form action="" method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group mb-3" >
                                <legend class="border-bottom mb-4 text-center" style="color: register;">Sign Up</legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group text-center" id="signup-button">
                                <button class="btn " style="color: white; background-color: #051094;"></a>Sign Up</button>
                            </div>
                            <div class="form-group text-center">
                                <small class="text-muted ml-3" >Already have an account? <a href="{% url 'login_user' %}">Sign In</a></small>
                            </div>
                            </form>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %} 


